/* Title */

.title,
.menu-title {
    text-align: center;
    margin: 30px 0;
}

.title h1,
.menu-title h1 {
    font-size: 40px;
    font-weight: bold;
}


/* Menu Grid */

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 20px 50px;
}


/* Card */

.card {
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    margin-bottom: 15px;
}

.card button {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}



/* KFC */

.kfc .card {
    background: #7c2d1b;
    color: white;
}

.kfc .card button {
    background: #00c9a7;
}

.kfc .card button:hover {
    background: #009f85;
}


/* Koshary */

.koshary .card {
    background: #20372e;
    color: white;
}

.koshary .card button {
    background: #e74c3c;
}

.koshary .card button:hover {
    background: #e74c3c;
}


/* Heart Attack */

.heartattack .card {
    background: #2a1e1c;
    color: white;
}

.heartattack .card button {
    background: #e74c3c;
}

.heartattack .card button:hover {
    background: #e74c3c;
}


/* Pizza Hut */

.pizzahut .card {
    background: #d9f0ed;
    color: black;
}

.pizzahut .card button {
    background: #e74c3c;
}

.pizzahut .card button:hover {
    background: #c72f0d;
}

button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease;
}

button a {
    text-decoration: none;
    color: white;
}