/* =============== About Section =============== */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.about-section {
    max-width: 900px;
    margin: 200px auto;
    padding: 20px;
    text-align: center;
}

.about-section h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ff4757;
}

.about-section .about-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 12px;
    margin: 18px auto 22px;
    display: block;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}

.about-section p {
    font-size: 16px;
    line-height: 1.7;
    color: #444;
    margin: 0 auto 16px;
    max-width: 720px;
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding-bottom: 56.25%; 
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
p .about-text {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  text-align: justify;
  font-weight: bold; 
  font-size: 18px;
}
