/* Error Page */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


main.error-container {
    flex: 1;
}

.error-container {
    flex: 1;
    text-align: center;
    margin-top: 60px;
    padding: 20px;
}

.error-img {
    position: relative;
    display: inline-block;
}

.error-img img {
    width: 180px;
    height: auto;
    border-radius: 10px;
}

.error-number {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: #000;
    font-weight: bold;
}

.error-container h1 {
    font-size: 26px;
    margin-top: 20px;
    color: #000;
}

.error-container p {
    margin-top: 8px;
    color: #666;
    font-size: 14px;
}

.home-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #2f9c8c;
    color: #fff;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.home-btn:hover {
    background-color: #228073;
}